@model StudentManagement.Models.Department
@{
    ViewData["Title"] = "Create Department";
}

<div>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Department Name</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
